<mat-card>
  <mat-card-header class="justify-content-center">
    <h1>{{title}}</h1>
  </mat-card-header>
  <mat-card-content>
    <img [src]="imageUrl"
         (click)="onClick()"/>

    <div #clickCounter *ngIf="clickCount > 0">
      {{ clickCount }} count
    </div>

    <form [formGroup]="pageForm">
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="null">-</mat-option>
          <mat-option [value]="true">
            {{ 'PAGE.STATUS.ACTIVE' | translate }}
          </mat-option>
          <mat-option [value]="false">
            {{ 'PAGE.STATUS.INACTIVE' | translate }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pageForm.controls['status'].hasError('isNull')">
          Please select a status!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name"
               formControlName="name">
      </mat-form-field>

      <mat-error *ngIf="pageForm.hasError('nameRequired')">
        Please provide a name!
      </mat-error>

      <button mat-button
              class="m-t-20"
              [disabled]="!pageForm.valid"
              (click)="save()">Save</button>
    </form>

  </mat-card-content>
  <mat-card-footer style="text-align: center">
    {{index}}
  </mat-card-footer>
</mat-card>
