<button mat-button
        class="position-fixed"
        #contextMenuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="menu"
        [style.left.px]="menuPositionLeft"
        [style.top.px]="menuPositionTop"></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item
          (click)="snapToTheClosest()"
          *ngIf="clickedShape && clickedShape.attrs.type === ShapeType.CAR">Snap to closest</button>
  <button mat-menu-item (click)="shapeToTop()">To top</button>
  <button mat-menu-item (click)="shapeToBottom()">To bottom</button>
  <button mat-menu-item (click)="deleteShape()">Delete</button>
</mat-menu>

<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon"
          (click)="selectedShape = ShapeType.CAR">
    <mat-icon>directions_car</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with menu icon"
          (click)="selectedShape = ShapeType.HOUSE">
    <mat-icon>house</mat-icon>
  </button>
  <button mat-button aria-label="Example icon-button with menu icon"
          (click)="selectedShape = ShapeType.HOUSE_WITH_PARKING">
    <mat-icon>houseboat</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with menu icon"
          (click)="selectedShape = ShapeType.PARKING">
    <mat-icon>local_parking</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-button (click)="zoomToFit()">
    <mat-icon>zoom_in</mat-icon>
  </button>
  <input #generateCountEl matInput type="number" placeholder="Data to generate"/>
  <button mat-button (click)="generate(+generateCountEl.value)">
    <mat-icon>dataset</mat-icon>
  </button>
  <button mat-button (click)="saveData()">
    <mat-icon>save_outline</mat-icon>
  </button>
</mat-toolbar>
<div id="container">

</div>
