<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon"
          (click)="selectedShape = ShapeType.CAR">
    <mat-icon>directions_car</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with menu icon"
          (click)="selectedShape = ShapeType.HOUSE">
    <mat-icon>house</mat-icon>
  </button>
  <button mat-button aria-label="Example icon-button with menu icon"
          (click)="selectedShape = ShapeType.HOUSE_WITH_PARKING">
    <mat-icon>houseboat</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with menu icon"
          (click)="selectedShape = ShapeType.PARKING">
    <mat-icon>local_parking</mat-icon>
  </button>
  <span class="example-spacer"></span>
</mat-toolbar>
<div id="container">

</div>
